h2{
    color:rgb(39, 116, 248);
    text-align: center;
}
body{
    background-color: palegreen;
}
form {
    display:flex;
    flex-direction: column;
}
#container {
    margin:0;
    display:flex;
    flex-direction: column;
    gap:8px;
    flex:1;
    padding: 40px 100px;
}
p {
    border: 0;
    margin: 0;

    padding:2px 5px;
}
.in{
    border-radius: 8px;
    max-width: 200;
    max-height: 20;

}